body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

nav {
  display: flex;
  align-items: center;
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

nav button {
 margin-left: auto;
}

ul li {
  padding: 5px;
}

h1 {
  margin: 20px;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

form input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background: #444;
  color: white;
  border: none;
}

footer {
  color: white;
  background: #333;
  text-align: center;
  padding: 10px;
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
}

.box {
  border: 2px solid #555;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 2px 2px 5px #777;
}

#firstSection {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  object-fit: cover;
}

.photo {
  border-radius: 10px;
}
